<div class="container-fluid">
<div class="row justify-content-around">
  <div class="col-12 col-md-6 col-lg-4 text-center">
    <div class="container-fluid">
     <h3 class="font-italic mt-3">Promocion 1 - Landing page por Ar$ 3.000,-</h3>
     <h5 class="text-success">Te proveemos gratis un año de Hosting basico ilimitado</h5>
     <img src="./../../assets/Presentacion.png"/>
     <div class="card border-light mb-3" style="max-width: 30rem;">
     <div class="card-header">Para iniciarse en la Web</div>
     <div class="card-body">
      <h5 class="card-title">Landing page o Pagina de aterrizaje</h5>
      <p class="card-text">Consta de un maximo de 10 imagenes con enlaces a todas las redes socilales y algunos externos. No cuenta con Menu.</p>
     </div>
     </div>
     </div>
    
    <div class="container-fluid">
     <h3 class="font-italic mt-3">Promocion 2 - Pequeños emprendedores Ar$ 5.000,-</h3>
     <h5 class="text-success">Cuenta con geolocalizacion</h5>
     <img src="./../../assets/DoblePantalla.png"/>

     <div class="card border-light mb-3" style="max-width: 30rem;">
     <div class="card-header">Pagina de carga rapida responsive</div>
     <div class="card-body">
      <h5 class="card-title">Pequeños Emprendedores</h5>
      <p class="card-text">Consta de un maximo de 20 imagenes, geolocalizacion, enlaces a todas las redes socilales y algunos externos. Cuenta con un Menu de hasta 4 solapas.</p>
     </div>
     </div>
   </div>

   <div class="container-fluid">
     <h3 class="font-italic mt-3">Promocion 3 - Pymes Ar$ 7.000,-</h3>
     <h5 class="text-success">Cuenta con formulario de contacto</h5>
     <img src="./../../assets/DibuDiseño.png"/>

     <div class="card border-light mb-3" style="max-width: 30rem;">
     <div class="card-header">Realizada con la ultima tecnologia del mercado</div>
     <div class="card-body">
      <h5 class="card-title">Pymes</h5>
      <p class="card-text">Consta de un maximo de 40 imagenes, geolocalizacion, formulario de contacto y enlaces a todas las redes socilales y algunos externos. Cuenta con un Menu de hasta 10 solapas/botones.</p>
     </div>
     </div>
      </div>

     <div class="container-fluid">
     <h3 class="font-italic mt-3">Paginas a medida - Solictar cotizacion-</h3>
     <h5 class="text-success">Contanos en que estas pensando.??</h5>
     <img src="./../../assets/DibuDesarrolloWeb.jpg"/>

     <div class="card border-light mb-3" style="max-width: 30rem;">
     <div class="card-header">A necesidad del cliente</div>
     <div class="card-body">
      <h5 class="card-title">Paginas a medida</h5>
      <p class="card-text">Se diseñan especialmente para cubrir cualquier necesidad de tu empresa</p>
    </div>
   </div>
  </div>
</div>
  <div class="col-12 col-md-6 col-lg-4 text-center" >
      <div class="container-fluid">
          <h3 class="font-italic mt-3">Te conectamos con todas las redes sociales</h3>
          <h5 class="text-success">Impulsa tu negocio mediante publicidad en internet</h5>
          <img src="./../../assets/tecladoRedes.jpg"/>
          <div class="card border-light mb-3" style="max-width: 30rem;">
          <div class="card-header">Redes</div>
          <div class="card-body">
           <h5 class="card-title">Usa tu Web:</h5>
           <p class="card-text">Como enlace principal a todas tus redes sociales y potencia la publicidad de tus sitios favoritos.</p>
          <br>
          </div>
          </div>
          </div>

          <div class="container-fluid">
              <h3 class="font-italic mt-3">Correo corporativo</h3>
              <h5 class="text-success">Distingue tu empresa</h5>
              <br>
              <img src="./../../assets/correo.png"/>
              <br>
              <br>
              <div class="card border-light mb-3" style="max-width: 30rem;">
              <div class="card-header"></div>
              <div class="card-body">
               <h5 class="card-title">Correo corporativo</h5>
               <p class="card-text">Una cuenta de correo corporativo puede llevar el nombre de una marca o nombre comercial si dicha empresa adquierio el dominio necesario</p>
              </div>
              </div>
              </div>

              <div class="container-fluid">
                  <h3 class="font-italic mt-3">Hosting</h3>
                  <h5 class="text-success">Gratis por un año al contratar nuestros servicios</h5>
                  <img src="./../../assets/www.png"/>
                  <div class="card border-light mb-3" style="max-width: 30rem;">
                  <div class="card-header"></div>
                  <div class="card-body">
                   <h5 class="card-title">Que es el Hosting ??</h5>
                   <p class="card-text">Web Hosting es el servicio que provee el espacio en Internet para los sitios web</p>
                  <br>
                  </div>
                  </div>
                  </div>

                  <div class="container-fluid">
                      <h3 class="font-italic mt-3">Certificado SSL</h3>
                      <h5 class="text-success">Hace de tu sitio un lugar seguro</h5>
                      <br>
                      <img src="./../../assets/SSL.jpg"/>
                      <div class="card border-light mb-3" style="max-width: 30rem;">
                      <div class="card-header"></div>
                      <div class="card-body">
                       <h5 class="card-title">Certificado SSL (Secure Sockets Layer)</h5>
                       <p class="card-text">SSL es un sistema que permite que la información viaje encriptada, evitando de este modo que pueda ser leída por terceros.</p>
                      </div>
                      </div>
                      </div>
    

  </div>
</div>
</div>
