

<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <img src="./../../assets/LeyendaPromo1.png" width="100"/>

  <div class="collapse navbar-collapse font-italic Italica " style="color: white" >
    <h1 >Nombre de tu empresa</h1>
  </div>

  

  <span style="font-size: 2em; color: white; padding-inline-end: 13px">
      <i class="fab fa-instagram"></i>
      </span>
  <span style="font-size: 2em; color: white; padding-inline-end: 13px">
          <i class="fab fa-twitter-square"></i>
          </span>
  <span style="font-size: 2em; color: white; padding-inline-end: 13px">
         <i class="fab fa-youtube-square"></i>
        </span>
  <span style="font-size: 2em; color: white; padding-inline-end: 13px">
          <i class="fab fa-facebook-square"></i>
          </span>
</nav> 