<div class="container-fuid bg-dark " style="color:white" id="empresa">
<div class="row ">
  <div class="col-4 px-4">
  
    <h5>Ubicacion</h5>
    <h6>Argentina </h6>
    <h6>Ciudad autonoma de Buenos Aires </h6>
    <h6>Av. Cordoba 7711</h6>

  
  </div>
  <div class="col-4">
    <h5>Contacto</h5>
    <h6>Jorge Arturo Lopez </h6>
    <h6>Cel. 113xxxxxx </h6>
    <h6>jorgelopez@xmal.com.ar</h6>

  </div>
  <div class="col-4">
   <h5>Redes</h5> 
   <span style="font-size: 2em; color: white; padding-inline-end: 13px">
    <i class="fab fa-instagram"></i>
    </span>
<span style="font-size: 2em; color: white; padding-inline-end: 13px">
        <i class="fab fa-twitter-square"></i>
        </span>
<span style="font-size: 2em; color: white; padding-inline-end: 13px">
       <i class="fab fa-youtube-square"></i>
      </span>
<span style="font-size: 2em; color: white; padding-inline-end: 13px">
        <i class="fab fa-facebook-square"></i>
        </span>
  </div>
</div>

</div>