<div class="conteiner  bg-dark text-white py-1 ">
  <div class="row align-item-center mt-2">
    <div class="col-12 col-md-6 col-lg-4 text-center">
        <h6>Nos dedicamos al diseño Web y a brindarles a nuestros clientes soluciones de negocios a nivel digital. Contamos con la ultima tecnologia de desarrollo, generando pagianas de carga rapida y visbles desde cualquier dispositivo</h6>
        <div class="small">  &copy;Derechos de autor 2018-2019 - Elaborado </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
                <h5>Powered by:</h5>
            <div class="row align-item-center mt-2">
                <div class="col-12 col-md-6 col-lg-4 text-center">
                </div>
              
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                 <img src="./../../assets/Angular.ico" alt="" >Angular
                </div>
                  
                <div class="col-12 col-md-6 col-lg-4 text-center">                    
                  <i class='fab fa-java' style='font-size:48px;color:red'> </i>  Java
                  </div>
            </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
                 <ul>
                 <li><h3>Ubicacion</h3></li>
                 <li>Argentina - Buenos Aires</li>
                 <li>C.A.B.A - Palermo</li>
                 
             
                 </ul>
    </div>
  </div>
</div>
  
  
    